.AnimatedPlayground {
	border: 1px solid black;
	width: 600px;
	height: 600px;
	
	&__animatedDot {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: red;
		will-change: transform;
	}
}