$left-page-size: 350px;
$bookmark-width: 30px;

.BookLayout {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #FCFBFB;

	&__LeftPage {
		position: absolute;
		top: 0px;
		left: 0px;
		bottom: 0px;
		width: $left-page-size;
		z-index: 1;
	}

	&__RightPage {
		position: absolute;
		top: 0px;
		left: $left-page-size;
		right: 0px;
		bottom: 0px;
		z-index: 1;
		border-left: 1px solid #D9D9D9;
	}
}