@import "../styles-mixins/variables.scss";

.Checkbox {
	position: relative;
	width: $main-icon-size;
	height: $main-icon-size;
	min-width: $main-icon-size;
	min-height: $main-icon-size;

	&__Icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		transition: opacity 100ms linear;

		&--visible {
			opacity: 1;
		}

		&--invisible {
			opacity: 0;
		}
	}
}