@import "../styles-mixins/variables.scss";

@keyframes contextOpen {
	from { opacity: 0; }
	to { opacity: 1; }
}

.ContextMenu {
	position: fixed;
	z-index: $z-index-context-menu;

	&--sizing {
		visibility: hidden;
		pointer-events: none;
	}

	&--visible {
		animation: contextOpen 100ms linear;
	}
}