@import "../styles-mixins/variables.scss";

$default-dialog-width: 600px;

@keyframes dialogAppear {
	from { opacity: 0; }
	to { opacity: 1; }
}

.Dialog {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	animation: dialogAppear 100ms linear;
	z-index: $z-index-dialog;

	&__Overlay {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		
		@include themed using ($theme) {
			background: map-get($theme, 'main-overlay-color');
		}
	}

	&__Main {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: $default-dialog-width;
		max-width: 100%;
		max-height: 100%;
		border-radius: $dialog-border-radius;
		box-shadow: $big-shadow;
		overflow: auto;
		
		@include themed using ($theme) {
			background: map-get($theme, 'main-bg-color');
		}
	}
}