@import "../styles-mixins/variables.scss";

.DropDown {
	position: relative;
	max-width: $drop-down-item-width;
	box-shadow: $gentle-shadow;

	@include themed using ($theme) {
		background: map-get($theme, 'drop-down-bg');
		border: 1px solid map-get($theme, 'main-border-color');
	}

	&__Item {
		display: block;
		padding: $default-padding / 2;
		position: relative;
		width: $drop-down-item-width;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		@include themed using ($theme) {
			border-bottom: 2px solid map-get($theme, 'main-border-color');
		}

		&:last-child {
			border-bottom: none;
		}

		&--with-click {
			cursor: pointer;

			&:hover {
				@include themed using ($theme) {
					background: map-get($theme, 'drop-down-item-clickable-hover');
				}
			}
		}

		&--selected {
			@include themed using ($theme) {
				background: map-get($theme, 'drop-down-item-selected');
			}

			&:hover {
				@include themed using ($theme) {
					background: map-get($theme, 'drop-down-item-selected-hover');
				}
			}
		}
	}

	&__Icon {
		display: inline-block;
		text-align: center;
		margin-right: $default-padding / 2;
	}

	&__Label {
		vertical-align: middle;
	}
}