@import "../styles-mixins/variables.scss";

.DropDown {
	position: relative;
	max-width: $drop-down-item-width;
	border: 1px solid $main-border-color;
	box-shadow: $gentle-shadow;
	background: $drop-down-bg;

	&__Item {
		display: block;
		padding: $default-padding / 2;
		position: relative;
		width: $drop-down-item-width;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		border-bottom: 2px solid $main-border-color;

		&:last-child {
			border-bottom: none;
		}

		&--with-click {
			cursor: pointer;

			&:hover {
				background: $drop-down-item-clickable-hover;
			}
		}

		&--selected {
			background: $drop-down-item-selected;

			&:hover {
				background: $drop-down-item-selected-hover;
			}
		}
	}

	&__Icon {
		display: inline-block;
		text-align: center;
		margin-right: $default-padding / 2;
	}

	&__Label {
		vertical-align: middle;
	}
}