$editor-menu-height: 50px;

.EditorPresenter {
	position: absolute;
	top: $editor-menu-height;
	left: 0px;
	right: 0px;
	bottom: 0px;
	white-space: pre-wrap;

	&--disabled {
		pointer-events: none;
	}

	> [contenteditable] {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		overflow-y: scroll;
	}

	strong {
		font-weight: bold;
	}

	a {
		text-decoration: underline;
	}

	em {
		font-style: italic;
	}

	code {
		background-color: #999;
	}

	blockquote {
		border-left: 3px solid #333;
		padding-left: 3px;
	}

	ol {
		list-style: decimal;
	}

	ul {
		list-style: disc;
	}

	ol, ul {
		padding-left: 24px;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
	}

	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 26px;
	}

	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 22px;
	}

	h5 {
		font-size: 20px;
	}

	h6 {
		font-size: 18px;
	}

	a {
		cursor: pointer;
	}
}