@import "../styles-mixins/variables.scss";
@import "../styles-mixins/editor-headings.scss";

.EditorPresenter {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	white-space: pre-wrap;

	&--disabled {
		pointer-events: none;
	}

	&__TextLoading {
		position: absolute;
		top: $default-padding;
		left: $default-padding;
		right: $default-padding;
	}

	&__Content {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;

		> [contenteditable] {
			padding: $default-padding;
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			overflow-y: scroll;
			font-size: 18px;

			// This solves a problem with
			// the bottom padding not shown
			&::after {
				content: '';
				display: block;
			}
		}
	}

	strong {
		font-weight: bold;
	}

	a {
		text-decoration: underline;
	}

	em {
		font-style: italic;
	}

	code {
		background-color: #999;
	}

	blockquote {
		border-left: 3px solid #333;
		padding-left: 3px;
	}

	ol {
		list-style: decimal;
	}

	ul {
		list-style: disc;
	}

	ol, ul {
		padding-left: 24px;
	}

	@include editor-headings;

	a {
		cursor: pointer;
	}

	li {
		padding-left: $editor-list-item-padding;
	}

	img[data-position] {
		margin: 0px $default-padding 0px $default-padding;
	}

	img[data-position="left"] {
		margin: $default-padding $default-padding $default-padding 0px;
	}

	img[data-position="right"] {
		margin: $default-padding 0px $default-padding $default-padding;
	}
}