@import "../styles-mixins/variables.scss";
@import "../styles-mixins/editor-headings.scss";

$font-editor-width: 300px;

.EditorMenu {
	&__Button {
		display: inline-block;
		border-radius: 3px;

		&:hover {
			@include themed using ($theme) {
				background: map-get($theme, 'main-hovered-bg-color');
			}
		}

		&--active {
			@include themed using ($theme) {
				background: map-get($theme, 'main-selected-bg-color');
			}

			&:hover {
				@include themed using ($theme) {
					background: map-get($theme, 'main-hovered-selected-bg-color');
				}
			}
		}

		&[disabled] {
			pointer-events: none;
			background: transparent;
			@include themed using ($theme) {
				color: map-get($theme, 'main-disabled-color');
			}
		}
	}

	&__CodeBlock {
		position: relative;

		&-Code {
			position: absolute;
			font-size: $main-icon-size / 2;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%) translateX($main-icon-size / 4) translateY($main-icon-size / 4);
		}
	}

	&__FontEditor {
		max-width: $font-editor-width;
	}

	&__FontFamilies,
	&__FontEditorItem {
		width: $font-editor-width;
	}
	
	&__FontSearch,
	&__DropDownFieldWithUnit {
		display: flex;
		align-items: center;
	}
	
	&__FontSizeInput {
		flex: 1 1 auto;
	}

	&__FieldWithUnit {
		-moz-appearance: textfield;
		text-align: right;

		&::placeholder {
			text-align: left;
		}

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
	
	&__FieldUnit,
	&__FontSizeDefault {
		flex: 0 0 auto;
	}

	&__FieldUnit {
		padding-left: $default-padding / 4;
	}

	&__FontFamilies {
		max-height: 340px;
		overflow-x: hidden;
		overflow-y: auto;
		position: relative;
	}

	&__FontFamily {
		line-height: 1;
		width: 100%;
	}

	&__FontFamilyContainer {
		display: block;
	}

	&__FontFamilyLabel {
		font-weight: bold;
	}

	&__FontFamilyExample {
		font-size: 12px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__HeadingEditor {
		@include editor-headings;
	}

	&__ImagePositionLabel {
		font-weight: 600;
	}

	&__ImagePositions {
		display: flex;
		align-items: center;
		justify-content: space-around;

		> * {
			flex: 0 0 auto;
		}
	}

	&__ImageCentralPositions {
		display: flex;
		flex-direction: column;
	}

	&__ImageButton {
		&:hover {
			@include themed using ($theme) {
				background: map-get($theme, 'drop-down-item-clickable-hover');
			}
		}
		
		&--active {
			@include themed using ($theme) {
				background: map-get($theme, 'drop-down-item-selected');
				color: map-get($theme, 'main-theme-color');
			}

			&:hover {
				@include themed using ($theme) {
					background: map-get($theme, 'drop-down-item-selected-hover');
				}
			}
		}
	}

	&__ImageFileBrowse {
		display: none;
	}

	&__ImageLoading {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		z-index: 1;
	}

	&__ImageSizeWarning {
		@include themed using ($theme) {
			color: map-get($theme, 'warn-color');
		}
	}

	&__ImageEditor {
		&--loading {
			pointer-events: none;

			&::after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;

				@include themed using ($theme) {
					background: map-get($theme, 'lighter-overlay-color');
				}
			}
		}
	}
}