@import "../styles-mixins/variables.scss";
@import "../styles-mixins/editor-headings.scss";

$font-editor-width: 300px;

.EditorMenu {
	&__Button {
		display: inline-block;
		border-radius: 3px;

		&:hover {
			background: $main-hovered-bg-color;
		}

		&--active {
			background: $main-selected-bg-color;

			&:hover {
				background: $main-hovered-selected-bg-color;
			}
		}

		&[disabled] {
			pointer-events: none;
			background: transparent;
			color: $main-disabled-color;
		}
	}

	&__CodeBlock {
		position: relative;

		&-Code {
			position: absolute;
			font-size: $main-icon-size / 2;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%) translateX($main-icon-size / 4) translateY($main-icon-size / 4);
		}
	}

	&__FontEditor {
		max-width: $font-editor-width;
	}

	&__FontFamilies,
	&__FontEditorItem {
		width: $font-editor-width;
	}
	
	&__FontSearch,
	&__FontSize {
		display: flex;
		align-items: center;
	}
	
	&__FontSizeInput {
		flex: 1 1 auto;
	}

	&__FontSizeInputField {
		-moz-appearance: textfield;
		text-align: right;

		&::placeholder {
			text-align: left;
		}

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
	
	&__FontSizeUnit,
	&__FontSizeDefault {
		flex: 0 0 auto;
	}

	&__FontSizeUnit {
		padding-left: $default-padding / 4;
	}

	&__FontFamilies {
		max-height: 340px;
		overflow-x: hidden;
		overflow-y: auto;
		position: relative;
	}

	&__FontFamily {
		line-height: 1;
		width: 100%;
	}

	&__FontFamilyContainer {
		display: block;
	}

	&__FontFamilyLabel {
		font-weight: bold;
	}

	&__FontFamilyExample {
		font-size: 12px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__HeadingEditor {
		@include editor-headings;
	}
}