@import "../styles-mixins/variables.scss";

.EditorMenu {
	position: absolute;
	width: 100%;
	padding: $default-padding;
	height: $editor-menu-height;
	border-bottom: 2px solid $main-border-color;

	&__Button {
		border-radius: 3px;

		&:hover {
			background: $main-hovered-bg-color;
		}

		&--active {
			background: $main-selected-bg-color;

			&:hover {
				background: $main-hovered-selected-bg-color;
			}
		}
	}

	&__LinkEditorUnselected {
		font-weight: 500;
	}

	&__CodeBlock {
		position: relative;

		&-Code {
			position: absolute;
			font-size: $main-icon-size / 2;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%) translateX($main-icon-size / 4) translateY($main-icon-size / 4);
		}
	}
}