@import "../styles-mixins/variables.scss";

@keyframes loadingSpinner {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.LoadingSpinner {
	display: inline-block;
	
	&__Icon {
		color: $main-theme-color;
		animation: loadingSpinner 1s linear infinite;
		transform-origin: center center;
		font-size: $main-icon-size * 2;
	}
}