@import "../styles-mixins/variables.scss";

html, body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

#root {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.3px;
	line-height: 1.5;
	font-size: 14px;
	
	@include themed using ($theme) {
		background: map-get($theme, 'main-bg-color');
		color: map-get($theme, 'main-text-color');
	}
}

button {
	cursor: pointer;
	outline: none;
	border: none;
	background: none;
	font: inherit;
	padding: 0;
	margin: 0;
	line-height: $min-button-size;
	min-height: $min-button-size;
	min-width: $min-button-size;
	text-align: center;
	color: currentColor;
}