@import "../styles-mixins/flex.scss";
@import "../styles-mixins/variables.scss";

html, body {
	margin: 0;
	@include flexParent;
	@include flexChildExpand;
}

* {
	box-sizing: border-box;
}

#root {
	@include flexParent;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.3px;
	line-height: 1.5;
	font-size: 14px;
}

button {
	cursor: pointer;
	outline: none;
	border: none;
	background: none;
	font: inherit;
	padding: 0;
	margin: 0;
	line-height: $min-button-size;
	min-height: $min-button-size;
	min-width: $min-button-size;
	text-align: center;
	color: currentColor;
}