@import "../styles-mixins/variables.scss";

.PasswordDialog {
	padding: 1.5 * $default-padding;

	h1 {
		font-size: 20px;
	}

	h2 {
		font-size: 18px;
	}

	h1, h2 {
		font-weight: 600;
	}

	h1, h2, p {
		margin-bottom: $default-padding;
	}
	
	&__PasswordField {
		display: flex;
		align-items: center;
	}
}
