@import "../styles-mixins/variables.scss";

.PasswordDialog {
	padding: 1.5 * $default-padding;

	> h1 {
		font-size: 20px;
	}

	> h2 {
		font-size: 18px;
	}

	> h1,
	> h2 {
		font-weight: 600;
	}

	> h1,
	> h2,
	> p,
	> button {
		margin-bottom: $default-padding;
	}

	&__Warn {
		@include themed using ($theme) {
			color: map-get($theme, 'warn-color');
		}
	}

	&__Incorrect {
		font-weight: bold;
		
		@include themed using ($theme) {
			color: map-get($theme, 'error-color');
		}
	}

	&__RememberPassword {
		display: block;
		text-align: left;
		min-height: auto;
		min-width: auto;
		line-height: normal;
		width: 100%;
	}
	
	&__PasswordField {
		display: flex;
		align-items: center;
	}

	&__RememberPasswordCheckbox {
		margin-right: $default-padding / 4;
	}

	&__RememberPasswordCheckbox,
	&__RememberPasswordLabel {
		vertical-align: middle;
	}
}
