@import "../styles-mixins/variables.scss";

@keyframes noteSelectionBGAppear {
	from { opacity: 0; }
	to { opacity: 1; }
}

.SecureBook {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: $main-bg-color;
	color: $main-text-color;

	&__Sidebar {
		position: absolute;
		top: 0px;
		left: 0px;
		bottom: 0px;
		width: $sidebar-width;
		overflow: auto;
	}

	&__Main {
		position: absolute;
		top: 0px;
		left: $sidebar-width;
		right: 0px;
		bottom: 0px;
		border-left: 1px solid $main-border-color;
	}

	&__Editor {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: $bottom-bar-height;
	}

	&__BottomBar {
		position: absolute;
		padding: $default-padding;
		border-top: 1px solid $main-border-color;
		height: $bottom-bar-height;
		bottom: 0px;
		left: 0px;
		right: 0px;
	}

	&__Section {
		position: relative;
		padding: $default-padding;
		border-bottom: 1px solid #D9D9D9;
	}

	&__NoteSelected {
		pointer-events: none;
		position: absolute !important;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		background: $main-selected-bg-color;
	}

	&__NoteName {
		position: relative;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		font-weight: 600;
		overflow: hidden;
		max-height: 3em;
		font-size: 18px;
	}

	&__Tags,
	&__DateTime {
		position: relative;
		font-size: 14px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	em {
		font-style: italic;
	}

	&__Note {
		cursor: pointer;
	}

	&__NoteSelected,
	&__NoteThemeBorder {
		animation: noteSelectionBGAppear 100ms linear;
	}
}