@import "../styles-mixins/variables.scss";

@keyframes textLoadingGradient {
	from { transform: translateX(-100%); }
	to { transform: translateX(130%); }
}

.TextLoading {
	&__Line {
		position: relative;
		border-radius: 0.3em;
		overflow: hidden;
		height: 1.5em;
		margin-bottom: 0.5em;

		@include themed using ($theme) {
			background: map-get($theme, 'text-loading-color');
		}

		&-1 { width: 90%; }
		&-2 { width: 95%; }
		&-3 { width: 85%; }
	}

	&__Gradient {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		will-change: transition;
		animation: textLoadingGradient 2.5s infinite;

		@include themed using ($theme) {
			background: map-get($theme, 'text-loading-gradient');
		}
	}
}