@import "../styles-mixins/flex.scss";
@import "../styles-mixins/background.scss";
@import "../styles-mixins/button.scss";
@import "../styles-mixins/media.scss";

.Welcome {
	@include flexParent;
	@include flexChildExpand;
	@include flexParentCenterChildren;

	@include sizes("4000x2851","2000x1426","1500x1070","1000x713","701x500") using ($w,$h) {
		@include bgCenterCover("/assets/used/Welcome__Background-#{$w}x#{$h}.jpg");
	}

	font-size: 16px;
	overflow: hidden;
	line-height: 1.5;

	&__AppName {
		font-family: 'Srisakdi', sans-serif;
		font-weight: bold;
	}

	&__WelcomeCard {
		flex: 0 0 auto;
		max-width: 512px;
		max-height: 100vh;
		background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.8), rgba(224, 204, 204, 0.9));
		box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 1);
		border-radius: 4px;
		font-family: 'Montserrat', sans-serif;
		overflow: auto;
		
		> h1, section {
			padding: 0px 24px 24px 24px;

			&:first-child {
				padding-top: 24px;
			}
		}
	}

	&__LoginButton {
		@include buttonInit;
		display: inline-block;
		width: 100%;
		background: #a30316;
		color: #e6e5d8;
		padding: 24px;
		text-align: center;
		font-weight: bold;
	}

	&__Header {
		text-align: center;
		font-size: 40px;
	}

	&__How {
		font-weight: bold;
	}

	&__HowListItem {
		margin-top: 0.5em;
	}

	ol {
		list-style: decimal;
		padding-left: 24px;
	}

	strong {
		font-weight: bold;
	}
}