$default-padding: 20px;
$sidebar-width: 350px;
$bottom-bar-height: 80px;
$editor-menu-content-height: 24px;
$editor-menu-height: 80px;
$editor-side-padding: $default-padding + 8px;
$dialog-border-radius: 4px;
$min-button-size: 40px;
$main-icon-size: 24px;

$main-text-color: #2e2e2e;
$main-bg-color: #FBFBFB;
// $main-border-color: #D9D9D9;
$main-border-color: #E6E6E6;
$lighter-border-color: #E6E6E6;
$main-theme-color: #a30316;
$main-theme-text-color: #e6e5d8;
$main-hovered-selected-bg-color: #e4e4e4;
$main-selected-bg-color: #ededed;
$main-hovered-bg-color: #f6f6f6;
$main-overlay-color: rgba(0,0,0,0.4);

$gentle-shadow: 3px 3px 9px -5px rgba(0,0,0,0.75);
$big-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 1);