$default-padding: 20px;
$sidebar-width: 350px;
$bottom-bar-height: 100px;
$editor-menu-content-height: 24px;
$editor-menu-height: $editor-menu-content-height + 2 * $default-padding;
$editor-side-padding: $default-padding + 8px;